@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ccnc8v');
  src:  url('../fonts/icomoon.eot?ccnc8v#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ccnc8v') format('truetype'),
    url('../fonts/icomoon.woff?ccnc8v') format('woff'),
    url('../fonts/icomoon.svg?ccnc8v#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
  content: "\e909";
}
.icon-arrow-down:before {
  content: "\e900";
}
.icon-arrow-up:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-guitar:before {
  content: "\e903";
}
.icon-industrial:before {
  content: "\e904";
}
.icon-instagram:before {
  content: "\e905";
}
.icon-linkedin:before {
  content: "\e906";
}
.icon-motor-parts:before {
  content: "\e907";
}
.icon-youtube:before {
  content: "\e908";
}
